<div class="devise-form">
  <a href="https://calculist.io"><img class="logo-icon" src="/logo-icon-blue-black.svg"></a>
  <h2>Join Calculist</h2>

  <div style="text-align:center;margin: 20px 0;">
    <div>Need an <a style="text-decoration:underline;" href="https://eepurl.com/cxt3mb">invite code</a>?</div>
  </div>
  <div class="form-inputs">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :invite_code %><br />
        <%= f.text_field :invite_code, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>+ characters)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>

</div>

<script>
  var inviteCode = window.location.search.split('?invite_code=')[1];
  if (inviteCode) {
    var el = document.getElementById('user_invite_code');
    if (el) el.value = inviteCode;
  }
</script>
