<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<header id="header">
  <a href="/"><img id="logo" src="/logo-blue-black.svg"></a>
  <span id="version"><%= Rails.application.config.calculist_version %></span>
  <% if current_user.must_confirm_email? %>
    <div class="header-message">Make sure to <a href="<%= new_confirmation_path(:user) %>">confirm your email</a> so you do not lose access to your account.</div>
  <% end %>
  <div class="header-right">
    <span id="username"><%= current_user.username %></span>&nbsp;|&nbsp;<span id="sign-out">sign out</span>
  </div>
</header>

<div class="container" style="font-family:Ubuntu;min-height:100vh;max-width:800px;">
  <div class="">
  <div class="row right-align">
    <a href="/list/new" class="waves-effect waves-light btn-small light-blue text-white" style="color:#fff;margin-right:0;">+ new list</a>
  </div>
  <% @lists.each do |list| %>
    <a href="<%= list_page_by_hex_id_path(hex_id: list.hex_id) %>">
      <div class="row card-panel hoverable">
        <div class="col s3"><b><%= list.title %></b></div>
        <div class="col s3" style="font-family: 'Courier New', Courier, monospace;"><%= list.hex_id %></div>
        <div class="col s3 right-align">created: <b><%= list.created_at.to_date %></b></div>
        <div class="col s3 right-align">updated: <b><%= list.updated_at.to_date %></b></div>
      </div>
    </a>
  <% end %>
  </div>
</div>

<%= javascript_include_tag "homepage" %>
