<header id="header">
  <a href="/"><img id="logo" src="/logo-blue-black.svg"></a>
  <span id="version"><%= Rails.application.config.calculist_version %></span>
  <% if current_user.must_confirm_email? %>
    <div class="header-message">Make sure to <a href="<%= new_confirmation_path(:user) %>">confirm your email</a> so you do not lose access to your account.</div>
  <% end %>
  <div class="header-right">
    <span id="save-status">saved</span>&nbsp;|&nbsp;<span id="username"><%= current_user.username %></span>&nbsp;|&nbsp;<span id="sign-out">sign out</span>
  </div>
</header>

<div class="page main-page">
  <ul id="top-level"></ul>
</div>

<input type="file" style="display:none;">

<script>
  var LIST_TITLE = "<%= @list.title.gsub("\n", '') %>",
      LIST_DATA = <%= raw(@list.content.to_json) %>,
      LIST_ID = <%= @list.id %>,
      INITIAL_LAST_SAVE = <%= @list.update_count || 0 %>,
      USER_PREFERENCES = <%= @list.list_type == 'user_preferences' ? 'null' : raw(current_user.preferences.content.to_json) %>,
      WORKER_FILE_PATH = '<%= asset_path('worker.js') %>',
      READ_ONLY = false,
      OTHER_LISTS = <%= raw(@other_lists.to_json) %>;
</script>

<%= javascript_include_tag "vendor" %>
<%= javascript_include_tag "application" %>
