<!DOCTYPE html>
<html>
  <head>
    <title><%= @list ? @list.title : 'Calculist' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% if @font %>
      <style>
        @import url(https://fonts.googleapis.com/css?family=<%= @font.split(' ').join('+') %>);
        #main-container {
          font-family: "<%= @font %>", "Ubuntu Mono", courier, monospace;
        }
        #main-container .input {
          font-family: "<%= @font %>", "Ubuntu Mono", courier, monospace;
        }
        #main-container #command-typeahead-menu {
          font-family: "<%= @font %>", "Ubuntu Mono", courier, monospace;
        }
      </style>
    <% end %>
  </head>

  <body>
    <div id="main-container" class="theme-<%= @theme || 'light' %>">

      <%= yield %>

    </div>
  </body>
</html>
